* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#bottone,
#refresh-btn {
    color: white;
    font-size: 26px;
    padding: 5px;
    background-color: limegreen;
    border: 0px;
    border-radius: 5px;
}

#bottone{
    margin-top: 20px;
}

#refresh-btn {
    background-color: rgb(200, 50, 205);
}

.indicatore {
    background-color: green;
    color: white;
}

.indicatore-bomba{
    background-color: crimson;
    color: white;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px;
}

.container-sconfitta{
    display: none;
    background-color: rgb(238, 232, 232);
    border-radius: 40px;
    z-index: 99999;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    position: relative;
    bottom: 600px;
    margin: 0 15px;
}

.display{
    display: flex;
}

.griglia {
    display: flex;
    flex-wrap: wrap;
}

.griglia>* {
    aspect-ratio: 1;
    border: 2px dotted rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}